<div id="debtorsTableContainer" class="container debtorsTableContainer">
    
</div>
{% put scripts %}
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/table.js"></script>
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/auth.js"></script>
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/config.js"></script>
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/fetch.js"></script>
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/render.js"></script>
    <script type="module" src="/plugins/admin/debts/components/debtorstable/js/toast.js"></script>
{% endput %}
